<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="Campus Test Suite">
    <test name="Country Test">
        <classes>
            <class name="day15._02_TestNGXML.CountrySetup"></class>
            <class name="day15._02_TestNGXML.CountryTests"></class>
        </classes>
    </test>
</suite>